* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    color: #545454;
}

.btn-primary {
    background-color: #7D73B9 !important;
    border-color: #7D73B9 !important;
}

.btn-warning {
    background-color: #FAFAC0 !important;
    border-color: #FAFAC0 !important;
}

.text-warning {
    color: #FAFAC0 !important;
}

.bg-light {
    background-color: #F8F9FA !important;
}

.borders {
    border: 1px solid #CFD5DB;
}

.text-green {
    color: #F2F0F9 !important;
}

.text-black {
    color: #545454 !important;
}

p {
    margin: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 840px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 840px;
    }
}


/* Styling */

.nav-tab-container ul.nav.nav-tabs li.nav-item a.nav-link {
    border: 1px solid #CFD5DB;
}

.action {
    width: 40%;
}

.send-btn-container .input-cont {
    width: 80%;
}

.send-btn-container .btn-cont {
    width: 17%;
}

.send-btn-container .input-cont input {
    height: 140px;
}

@media (max-width: 576px) {
    p,
    a,
    button {
        font-size: 14px !important;
    }
    .action {
        width: 100% !important;
    }
    .send-btn-container .input-cont {
        width: 62% !important;
    }
    .send-btn-container .input-cont input {
        height: 70px;
    }
    .send-btn-container .btn-cont {
        width: 35% !important;
    }
}